*{
    margin:0;
    padding:0;
}
#container{
    background-color: blue;
    border: 2px solid #2a2323;
    width:40vw;
    height:200px;
    color:black;
    border-radius: 90%;
    margin: auto;
    margin-top: 40px;
    box-shadow:10px 5px 10px 5px ;
    position: relative;
}
#one{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    top:40px;
    left: 5px;
    position: absolute;
}
#two{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    top:40px;
    right: 5px;
    position: absolute;
}
#three{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    bottom: 20px;
    right:40px;
    position: absolute;
}
#four{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    bottom:20px;
    left: 40px;
       position: absolute;
}